.container {
  display: grid;
  border: 1px solid rgb(111, 130, 239);
  background-color: rgb(58, 209, 247);
}
.title {
  border: 1px solid rgb(111, 130, 239);
  padding-left: 5px;
}

.game-body {
  display: grid;
  grid-template-columns: 0.5fr 3fr 0.5fr;
}

.buttonGp {
  border: 1px solid rgb(111, 130, 239);
}

.start,
.reveal {
  background-color: rgb(248, 157, 172);
  margin: 5px 5px;
}

.character {
  background-color: rgb(245, 172, 16);
  margin: 5px 5px;
}

.correct {
  background-color: green;
}
.notCorrect {
  background-color: red;
}

.result {
  display: block;
  background-color: azure;
  border: none;
  border: 1px solid rgb(111, 130, 239);
}
.lives {
  display: block;
  border: 1px solid rgb(111, 130, 239);
  background-color: rgb(58, 209, 247);
  margin: auto;
  width: 200px;
  padding: 0 5px;
}
